In [ ]:
df=pd.read_csv('StudentsPerformance.csv')

In [ ]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [ ]:
print("dim",df.ndim)

dim 2

In [ ]:
print("dim",df.size)
print("dim",df.shape)

dim 8000
dim (1000, 8)

In [ ]:
print(df['gender'])

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [ ]:
df.gender.str.isdigit()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: gender, Length: 1000, dtype: bool

In [ ]:
df.gender.str.isalpha()

0      True
1      True
2      True
3      True
4      True
       ...
995    True
996    True
997    True
998    True
999    True
Name: gender, Length: 1000, dtype: bool

In [ ]:
df.gender.str.isnumeric()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: gender, Length: 1000, dtype: bool

In [ ]:
df.isnull()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False

In [ ]:
print(df[1:3])

   gender race/ethnicity parental level of education     lunch  \
1  female        group C                some college  standard
2  female        group B             master's degree  standard

  test preparation course  math score  reading score  writing score
1               completed          69             90             88
2                    none          90             95             93

In [ ]:
print(df.head)

<bound method NDFrame.head of      female  male
0         1     0
1         1     0
2         1     0
3         0     1
4         0     1
..      ...   ...
995       1     0
996       0     1
997       1     0
998       1     0
999       1     0

[1000 rows x 2 columns]>

In [ ]:
print(df.tail)

<bound method NDFrame.tail of      female  male
0         1     0
1         1     0
2         1     0
3         0     1
4         0     1
..      ...   ...
995       1     0
996       0     1
997       1     0
998       1     0
999       1     0

[1000 rows x 2 columns]>